@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LFG.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LFG.Web.Pages.Ordini
 @using LFG.Ordini; 
@using System.Globalization
@inject IHtmlLocalizer<LFGResource> L
@model CreateModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/Ordini/CreateModal" autocomplete="off">
    <abp-modal id="OrdineCreateModal">
        <abp-modal-header title="@L["NewOrdine"].Value"></abp-modal-header>
        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
            <abp-date-picker auto-update-input="true" today-button-classes="btn-primary" asp-for="Ordine.DataOrdine" data-date="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <abp-input asp-for="Ordine.Stato"    />
            <abp-input asp-for="Ordine.ImportoTotale"   data-val="false" />
            <abp-input asp-for="Ordine.IndSpedizione"    />
            <abp-input asp-for="Ordine.MetodoPagamento"    />
                                <abp-select asp-for="Ordine.ClienteId" asp-items="Model.ClienteLookupList" label="@L["Cliente"].Value"/>
            <abp-select asp-for="Ordine.ScontoId" asp-items="Model.ScontoLookupList" label="@L["Sconto"].Value"/>
            <abp-select asp-for="Ordine.IndirizzoId" asp-items="Model.IndirizzoLookupList" label="@L["Indirizzo"].Value"/>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>