@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LFG.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LFG.Web.Pages.Prodotti
 @using LFG.Prodotti; 
@using System.Globalization
@inject IHtmlLocalizer<LFGResource> L
@model CreateModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/Prodotti/CreateModal" autocomplete="off">
    <abp-modal id="ProdottoCreateModal">
        <abp-modal-header title="@L["NewProdotto"].Value"></abp-modal-header>
        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
             <abp-tabs>
                <abp-tab title="@L["Prodotto"].Value">
            <abp-input asp-for="Prodotto.Nome"    />
            <abp-input asp-for="Prodotto.Descrizione"    />
            <abp-input asp-for="Prodotto.Prezzo"    />
            <abp-input asp-for="Prodotto.CodiceSku"    />
            <abp-input asp-for="Prodotto.Sezione"    />
                                <abp-select asp-for="Prodotto.CategoriaId" asp-items="Model.CategoriaLookupList" label="@L["Categoria"].Value"/>
                </abp-tab>
                                <abp-tab title="@L["Colleziones"].Value">
                    <div class="input-group multiple mb-3">
                      <div class="flex-grow-1">
                        <select id="CollezionesLookup"
                                        name="CollezionesLookup"
                                        class="form-control"
                                        style="width: 100%"
                                        data-value="">
                        </select>
                      </div>
                      <abp-button button-type="Info" id="AddCollezionesButton" class="text-light">@L["Add"]</abp-button>
                    </div>
                    <abp-row>
                        <abp-table style="display:none" id="CollezionesTable">
                            <thead Theme="Dark">
                            <tr style="text-align: center; vertical-align: middle;">
                                <th scope="Column" style="text-align: left">Nome</th>
                                <th scope="Column"></th>
                            </tr>
                            </thead>
                            <tbody id="CollezionesTableRows">
                            </tbody>
                        </abp-table>
                    </abp-row>
                 </abp-tab>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
            </abp-tabs>
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>